@charset "utf-8";
#gridPanel{
    width:616px;height:616px;
    margin:0 auto;
    background-color:#eee;
    /*border-radius:10px;*/
    position:relative;
    border:2px solid #aaa;
}
.grid{
    width:30px; height:30px;
    background-color:#ddd;
    margin:4px 0 0 4px;
    float:left;
}
.block{
    background-color:#999;
}
.food{
    background-color:#a60;
}
.barrier{
    background-color:#033;
}

/*分数显示*/
p{
    width:100%; margin:0 auto;
    font-family:Arial;font-weight:bold;
    font-size:40px; padding:15px 0;
    text-align:center;
}
#stop,#over{
    font-size:30px;
    padding:10px; border-radius:6px;
    background-color:#9f8b77; color:#fff;
    cursor:pointer;
}
.container{width:100%; height:100%;
    position:absolute; top:0; left:0;
    display:none;
}
.huibg{width:100%; height:100%;
    background-color:#555; opacity:.5;
}
.p{width:300px; height:200px;
    border:1px solid #edcf72;
    line-height:1.6em; text-align:center;
    background-color:#fff; border-radius:10px;
    position:absolute; top:50%; left:50%;
    margin-top:-135px; margin-left:-150px;
}

.button{padding:10px; border-radius:6px;
    background-color:#9f8b77; color:#fff;
    cursor:pointer;
}
#gameOver>p{
    height:280px;
}
#gameOver>p>a{
    font-size:30px;
    padding:10px 50px;
    /*display:block;*/
}
#model{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
}
#model>div{width:100%; height:100%;
    background-color:#555; opacity:.5;
}
#model>p{width:300px; height:220px;
    border:1px solid #edcf72;
    line-height:1.6em; text-align:center;
    background-color:#fff; border-radius:10px;
    position:absolute; top:50%; left:50%;
    margin-top:-135px; margin-left:-150px;
}
#model>p>a{
    font-size:30px;
    padding:10px 30px;

}
